{% include "fhirtypes.py" with context %}


FHIRPrimitiveExtensionType = create_fhir_type(
    "FHIRPrimitiveExtensionType", "{{ root_module_path }}.fhirprimitiveextension.FHIRPrimitiveExtension"
)

{%- for klass in classes %}
{{ klass.name }}Type = create_fhir_type(
    "{{ klass.name }}Type", "{{ root_module_path }}.{{ klass.module }}.{{ klass.name }}"
)
{% endfor %}
__all__ = [
    "BooleanType",
    "StringType",
    "Base64BinaryType",
    "CodeType",
    "IdType",
    "IntegerType",
    "Integer64Type",
    "DecimalType",
    "UnsignedIntType",
    "PositiveIntType",
    "CanonicalType",
    "UriType",
    "OidType",
    "UuidType",
    "UrlType",
    "MarkdownType",
    "XhtmlType",
    "DateType",
    "DateTimeType",
    "InstantType",
    "TimeType",
    "FHIRPrimitiveExtensionType",
    {%- for klass in classes %}
	"{{ klass.name }}Type",
	{% endfor %}
]
