# -*- coding: utf-8 -*-
"""
Profile: {{ profile.url }}
Release: {{ release_name }}
Version: {{ info.version }}
{%- if info.build %}
Build ID: {{ info.build }}
{%- elif info.revision %}
Revision: {{ info.revision }}
{%- endif %}
Last updated: {{ profile.fhir_last_updated }}
"""
from .. import fhirtypes  # noqa: F401
from .. import {{ class.module }}

{%- for tcase in tests %}


def impl_{{ class.name | lower }}_{{ loop.index }}(inst):
{%- for onetest in tcase.tests %}
{%- if onetest.klass.name in ("String", "Code", "Id", "Uri", "Oid", "Xhtml", "Uuid", "Canonical", "Url", "Markdown") %}
    assert inst.{{ onetest.path }} == "{{ onetest.value | replace('"', '\\"') | replace('\\n', '\\\\n') }}"
{%- else %}{% if onetest.klass.name == "base64Binary" %}
    assert inst.{{ onetest.path }} == bytes_validator("{{ onetest.value }}")
{%- else %}{% if onetest.klass.name in ("Integer", "UnsignedInt", "PositiveInt") %}
    assert inst.{{ onetest.path }} == {{ onetest.value }}
{%- else %}{% if onetest.klass.name in ("Decimal", "NSDecimalNumber") %}
    assert float(inst.{{ onetest.path }}) == float({{ onetest.value }})
{%- else %}{% if "bool" == onetest.klass.name %}
    {%- if onetest.value %}
    assert inst.{{ onetest.path }} is True
    {%- else %}
    assert inst.{{ onetest.path }} is False
    {%- endif %}
{%- else %}{% if onetest.klass.name in ("DateTime", "Instant", "Date", "Time") %}
    assert inst.{{ onetest.path }} == {{ onetest.klass.module }}.{{ onetest.klass.name }}.validate("{{ onetest.value }}")
{%- else %}
    # Don't know how to create unit test for "{{ onetest.path }}", which is a {{ onetest.klass.name }}
{%- endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
{%- endfor %}


def test_{{ class.name | lower}}_{{ loop.index }}(base_settings):
    """No. {{ loop.index }} tests collection for {{ class.name }}.
    Test File: {{ tcase.filename }}
    """
    filename = (
        base_settings["unittest_data_dir"] / "{{ tcase.filename }}"
    )
    inst = {{ class.module }}.{{ class.name }}.parse_file(
        filename, content_type="application/json", encoding="utf-8"
    )
    assert "{{ class.name }}" == inst.resource_type

    impl_{{ class.name | lower }}_{{ loop.index }}(inst)

    # testing reverse by generating data from itself and create again.
    data = inst.dict()
    assert "{{ class.name }}" == data["resourceType"]

    inst2 = {{ class.module }}.{{ class.name }}(**data)
    impl_{{ class.name | lower }}_{{ loop.index }}(inst2)


{%- endfor %}


